@import "../abstracts/variables";

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Cairo', sans-serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.3rem;
}

p {
  font-size: 1.8rem;
}

hr {
  border-top: 1px solid rgb(209, 221, 243);
}

.text-white {
  color: white;
}

.text-heading {
  color: $color-headings;
}

.text-body {
  color: $color-body;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mt-2 {
  margin-top: 2rem;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.centered {
  margin: 0 auto;
}

.f-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
