@import "../abstracts/variables";

.icon-container {
  background: $color-secondary;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  svg {
    color: $color-icons;
  }
}

.client-wrapper {
  width: 235px;
  height: 85px;
  border-radius: 10px;
  border: 1px solid $color-border;
  display: flex;
  align-items: center;
  justify-content: center;
}