.banner {
  background-repeat: no-repeat;
  background-position: center;
  height: 525px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  &__header {
    text-align: right;
    padding: 0 2rem;
  }
  &__tagline {
    font-size: 1.6rem;
  }
}
