.grid {
  display: grid;
}

.grid--1x2 {
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  @include respond(tab-port) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.grid--1x3 {
  grid-template-columns: repeat(3, 1fr);
}